<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Proving Grounds</title>
</head>
<body>
<div class="container">
    <h1>Proving Grounds</h1>
    <h2>Builds</h2>
    <div th:insert="~{navigation :: breadcrumb}"></div>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">run</th>
            <th scope="col">commit</th>
            <th scope="col">timestamp</th>
            <th scope="col">result</th>
        </tr>
        </thead>
        <tr th:each="build : ${builds}">
            <td>
                <a th:href="${build.id}" th:text="${build.name}"></a>
            </td>
            <td th:text="${build.commitId}"></td>
            <td th:text="${build.startTime}">
            </td>
            <td>
                <span th:classappend="${build.status.ok} ? 'badge-success' :  'badge-danger'"
                      th:text="${build.status.ok} ? 'success' : 'failed'" class="badge"></span>
            </td>
        </tr>
    </table>
</div>


</body>
</html>