<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <title>Proving Grounds Projects</title>
</head>
<body>
<div class="container">
    <h1 th:text="${project.name}"></h1>
    <h2>Test Runs</h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">run</th>
            <th scope="col">commit</th>
            <th scope="col">branch</th>
            <th scope="col">timestamp</th>
            <th scope="col">result</th>
        </tr>
        </thead>
        <tr th:each="suite : ${testSuites}">
            <td>
                <a th:href="${suite.id}" th:text="${suite.name}"></a>
            </td>
            <td th:text="${suite.commitId}"></td>
            <td th:text="${suite.branch}"></td>
            <td th:text="${suite.startTime}">
            </td>
            <td>
                <span th:classappend="${suite.status.ok} ? 'badge-success' :  'badge-danger'"
                      th:text="${suite.status.ok} ? 'success' : 'failed'" class="badge"></span>
            </td>
        </tr>
    </table>
</div>


</body>
</html>