<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Proving Grounds</title>
</head>
<body>
<div class="container">
    <h1>Proving Grounds</h1>
    <h2>Test Details</h2>

    <div th:insert="~{navigation :: breadcrumb}"></div>


    <div th:if="${testRunDetails.result.success}">
        <h3>Success!</h3>
        <h4>Standard Out</h4>
        <pre th:text="${testRunDetails.output}"></pre>
    </div>
    <div th:unless="${testRunDetails.result.success}">
        <pre th:text="${testRunDetails.errorType}"></pre>
        <h3>Error Message</h3>
        <pre th:text="${testRunDetails.errorMessage}"></pre>
        <h3>Stacktrace</h3>
        <pre th:text="${testRunDetails.stacktrace}"></pre>
        <h3>Standard Out</h3>
        <pre th:text="${testRunDetails.output}"></pre>
    </div>
</div>


</body>
</html>