<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Proving Grounds Projects</title>
</head>
<body>
<div class="container-fluid">
    <h1>Proving Grounds</h1>
    <h2>Tests</h2>

    <div th:insert="~{navigation :: breadcrumb}"></div>


    <a th:href="${build.linkId} + '?showAll=false'" th:if="${showAll}">Show only Failed Tests</a>
    <a th:href="${build.linkId} + '?showAll=true'" th:unless="${showAll}">Show all Tests</a>

    <div>
        <b th:text="|${build.num_total} tests run ${build.num_success} sucessful, ${build.num_failed} failed, ${build.num_skipped} skipped|"></b>
    </div>

    <div th:if="${testRuns.isEmpty()}">
        <th:block th:if="${showAll}">No recorded Tests for this run</th:block>
        <th:block th:unless="${showAll}">No failed Tests for this run</th:block>
    </div>
    <table th:unless="${testRuns.isEmpty()}" class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Test</th>
            <th scope="col">time</th>
            <th scope="col">result</th>
            <th scope="col">last success</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="run : ${testRuns}">
            <td><a th:text="${run.name}"
                   th:href="@{|${#httpServletRequest.requestURI}/${run.id}|}"></a>
            </td>
            <td th:text="${run.formattedDuration}"></td>
            <td> <span th:classappend="${run.result.success} ? 'badge-success' :  'badge-danger'"
                       th:text="${run.result.success} ? 'success' : 'failed'" class="badge"></span></td>
            <td th:if="${run.hasSuccessfulBuild()}">
                <a th:text="${run.lastSuccessBuildName}"
                   th:href="@{/projects/{projectId}/{branchId}/{buildId}(projectId=${project.linkId},branchId=${branch.linkId},buildId=${run.lastSuccessBuildId})}"></a>
            </td>
            <td th:unless="${run.hasSuccessfulBuild()}">
                Never
            </td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>