<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <title>Proving Grounds Projects</title>
</head>
<body>
<div class="container">
    <h1 th:text="'Test run from' + ${testRun.start}"></h1>

    <a th:href="${testRun.index} + '?failedOnly=true'" th:unless="${failedOnly}">Show only Failed Tests</a>
    <a th:href="${testRun.index} + '?failedOnly=false'" th:if="${failedOnly}">Show all Tests</a>


    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">Test</th>
            <th scope="col">time</th>
            <th scope="col">result</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="execution : ${testRun.getSortedTestExecutions(failedOnly)}">
            <td th:text="${execution.test.fullName}"></td>
            <td th:text="${execution.executionTime.toMillis()} + 'ms'"></td>
            <td> <span th:classappend="${execution.result.success} ? 'badge-success' :  'badge-danger'"
                       th:text="${execution.result.success} ? 'success' : 'failed'" class="badge"></span></td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>